<!DOCTYPE html>
<html lang='cs'>
  <head>
    <meta charset='utf-8'>
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/default.css'>
  </head>
  <body>
    <div class='content'>
      <header></header>
      <main>
        <h1>Lingano</h1>
        <p>Tady jednou něco bude.</p>
      </main>
      <footer>
        <p class='container'>Made with ♥ by Jakub Mrozek</p>
      </footer>
    </div>
  </body>
</html>
